/* =============
    Header
============= */
header {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas:
    "burger survival"
    "nav nav";
    background-color: $white;
    width:100%;

    position: fixed;

    @include lg{
      grid-template-areas:
      "nav survival";
    }
    padding: 10px;

    section:nth-child(1){
      padding: 10px;
      grid-area: burger;

        button{
          background-color: $white;
          border: none;
          outline: none;
        }
    }

    section:nth-child(2){
      padding: 10px;
      grid-area: survival;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a{
        span{
          display: none;
        }
      }
    }
  nav{
    display: none !important;
    padding: 10px;
    grid-area: nav;
    background-color: $charcoal;

    @include lg{
      display: block !important;
      background-color: $white;
    }
  }
}
