/* =============
    Navigation
============= */
a:hover,
a:link {
    text-decoration: none;
    transition: o.25s;
}


#off-canvas-container{
    /* -------------
        Here are the properties you can changes for the off-canvas navigation-slide
    ------------- */

    background-color: $black;
    // grid-template-columns: 10px auto 10px;
    padding-top: 20px;

    // width of the off canvas navigation
    // width: 200px;


    /* close btn */
    button {
        background-color: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        font-size: rem-calc(25);
        margin-bottom: 20px;
        //text-align: right;
        transition: 0.25s;
        //width: 100%;
        outline: none;
        display: flex;
        margin-left: auto;
    }

    /* close btn */
    button:hover {
        color: $sunflower;
    }

    ul {
        li {

            border-bottom: 1px solid $sunflower;
            text-align: right;
            //margin-bottom: 20px;


            a:link,
            a:visited {
                color: #fff;
                padding: 20px 1% 20px;
                display: inline-block;
                width: 99%;
            }

            a:active,
            a:hover {
                color: $black;
                background-color: $sunflower;
            }

            li:last-child{
              border: none;
            }
        }
    }
}


#burger-icon {
    background-color: $white;
    border: none;
    font-size: rem-calc(22);
    outline: none;
    padding: 8px;
    // position: fixed;
    // right: 20px;
    // top: 20px;
    // z-index: 100;
    transition: 0.25s;
}

#burger-icon:hover {

    color: $sunflower;
}
